.landing {
    height: 100vh;
    background-color: #32936F;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 64px;
}

.scroll-down {
    position: absolute;
    bottom: 0;
    padding-bottom: 36px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.to-do {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.journal-entries {
    height: 100vh;
    background-color: #BF9676;

    display: flex;
    align-items: center;
    justify-content: center;
}